@page
@model KForceCars.Pages.Cars.AddNewCarModel

@{
    ViewData["Title"] = "Register car";
}

<h1>Add new car</h1>
<form class="form-control form-control-lg" method="post">
    <input type="text" placeholder="Model" asp-for="@Model.Car.Model" />
    <input type="text" placeholder="Make"  asp-for="@Model.Car.Make"/>
    <input type="text" placeholder="Color"  asp-for="@Model.Car.Color"/>
    <input type="number" placeholder="Doors"  asp-for="@Model.Car.Doors"/>
    <input type="number" placeholder="Year"  asp-for="@Model.Car.Year" />
    <input type="number" placeholder="Price"  asp-for="@Model.Car.Price"/>
    <button type="submit" class="btn-primary">Submit</button>
</form>
