@page "{handler?}"
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="table-responsive">
    <h1>Cars</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width: 15%">Model</th>
            <th style="width: 15%">Make</th>
            <th style="width: 10%">Color</th>
            <th style="width: 10%">Doors</th>
            <th style="width: 10%">Year</th>
            <th style="width: 40%">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Model</td>
                <td>@car.Make</td>
                <td>@car.Color</td>
                <td>@car.Doors</td>
                <td>@car.Year</td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-sm btn-info btn-price shadow-none" data-id="@car.Id">Price</button>
                                <a class="btn btn-sm btn-light shadow-none" asp-page="/Cars/EditCar" asp-route-id="@car.Id">Edit</a>
                                <button class="btn btn-sm btn-danger btn-delete shadow-none" data-id="@car.Id">Delete</button>
                            </div>
                        </div>
                        <div class="d-none price-content" id="price-@car.Id">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form method="post" class="form-inline">
                                        <input name="id" type="number" hidden="hidden" value="@car.Id"/>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <input class="form-control form-control-sm" type="number" id="price" name="price" placeholder="Guess the price" required="required"/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="submit" class="btn btn-primary btn-sm shadow-none">Confirm</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-12">
                                    @if (ViewData[$"Message-{car.Id}"] != null)
                                    {
                                        if (bool.TryParse(ViewData[$"Status-{car.Id}"]?.ToString(), out var status) && status)
                                        {
                                            <div class="alert small alert-success" role="alert">@ViewData[$"Message-{car.Id}"]</div>
                                        }
                                        else
                                        {
                                            <div class="alert small alert-warning" role="alert">@ViewData[$"Message-{car.Id}"]</div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="delete-modal"></div>

@section scripts{
    <script>
        $(function () {
            $(".btn-price").click(function () {
                const id = $(this).attr("data-id");
                let elem = $(`#price-${id}`);
                if (elem.attr('class').split(/\s+/).includes('d-none'))
                    elem.removeClass('d-none');
                else 
                    elem.addClass('d-none');
            });
            
            $(".btn-delete").click(function () {
                const id = $(this).attr("data-id");
                $("#delete-modal").load(`/Index/deletecar?id=${id}`, null, function () {
                    $("#delete-modal .modal").modal("show");
                    });
            });
        });
    </script>
}