@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Cars</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Model</th>
            <th>Make</th>
            <th>Color</th>
            <th>Doors</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Model</td>
                <td>@car.Make</td>
                <td>@car.Color</td>
                <td>@car.Doors</td>
                <td>@car.Year</td>
                <td>
                    <a class="price" data-id="@car.Id">Price</a>
                    <a class="" asp-page="/Cars/EditCar" asp-route-id="@car.Id">Edit</a>
                    <a class="">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="modal" class="modal fade" role="dialog"></div>

@section scripts{
    <script>
        $(function () {
            $(".price").click(function () {
                var id = $(this).attr("data-id");
                $.ajax({
                     type: "GET",
                     url: "/Cars/PriceModal?Id=" + id,
                     success: function (response) {
                         $("#modal").html(response);
                         $("#modal").modal('show');
                     },
                     failure: function (response) {
                         alert(response.responseText);
                     },
                     error: function (response) {
                         alert(response.responseText);
                     }
                 });
            });
        })
    </script>
}